<!DOCTYPE html>
<html lang="en" class=" js no-touch">
	<head>
    	<!-- <link href="/static/css/animate.css" rel="stylesheet" type="text/css">
    	<script src="/static/js/bootstrap.min.js"></script>-->
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/pagination/pagination.css">  
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    	<script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/pagination/pagination.js"></script>
	</head>
	{% include 'sidebar.html' %}
	<body>
		<br />
		<br />
		<br />
		<br />
		<div class="container">
			<div class ="table-responsive">
        		<table class="table table-hover">
        			<thead>
        				<tr bgcolor = "#B0C4DE">
        					<!-- <td class="text-center list-td col-xs-6 col-md-1"></th></td> -->
        					<td class="text-center list-td col-xs-6 col-md-4"><h4>FLAG</h4></th></td>
        					<td class="text-center list-td col-xs-6 col-md-4"><h4>COUNTRY</h4></th></td>
        					<td class="text-center list-td col-xs-6 col-md-4"><h4>RANK</h4></th></td>
        					<!-- <td class="text-center list-td col-xs-6 col-md-1"></td> -->
        				</tr>
        			<thead>
        				<tbody id="myTable">
							{% for item in items %}
								<tr bgcolor = "#DCDCDC">
									<td class="text-center col-xs-6 col-md-4" style="border-top:none">
										<center><a href="/countries/{{ item.id }}"><img src="{{ item.symbol_flag }}" class="imageClip thumbnail" alt="Responsive image"></a></center>
									</td>
									<td class="text-center col-xs-6 col-md-4" style="border-top:none">
										<a href="/countries/{{ item.id }}"><font size ="5" color = "#16495C">{{ item.country_name }}</font></a>
									</td>
									<td class="text-center col-xs-6 col-md-4" style="border-top:none">
										<a href="/countries/{{ item.id }}"><font size ="5" color="#16495C">{{ item.rank }}</font></a>
									</td>
								</tr>
							{% endfor %}
					</tbody>
				</table>

				<div class="col-xs-12 col-md-12 text-center">
					<ul class="pager" id="myPager"></ul>
      				<!-- <ul class="pagination pagination-lg" id="myPager"></ul> -->
      			</div>

			</div>
			

		</div>

	</body>
</html>