<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- <link href="/static/css/animate.css" rel="stylesheet" type="text/css">
    	<script src="/static/js/bootstrap.min.js"></script>-->
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/pagination/pagination.css">  
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    	<script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/pagination/pagination_players.js"></script>

	</head>
		{% include 'sidebar.html' %}
	<body>
		<br />
		<br />
		<br />
		<br />
		<div class="container">
			<div class ="table-responsive">
        		<table class="table table-hover">
        			<thead>
        				<tr>
        					<tr bgcolor = "#B0C4DE">
	        					<th class="text-center list-td col-xs-6 col-md-4">Player Shirt-Number</th>
	        					<th class="text-center list-td col-xs-6 col-md-4">Name</th>
	        					<th class="text-center list-td col-xs-6 col-md-4">Country</th>
        					</tr>
        				</tr>
        			<thead>
        				<tbody id="myTable">
							{% for item in items %}
								<tr>
									<tr bgcolor = "#DCDCDC">
										<td class="text-center col-xs-6 col-md-4" style="border-top:none">
											<p> {{item.shirt_number}} </p>
										</td>
										<td class="text-center col-xs-6 col-md-4" style="border-top:none">
											<a href="/players/{{ item.id }}">{{ item.full_name }}</a>
										</td>
										<td class="text-center col-xs-6 col-md-4" style="border-top:none">
											<a href="/countries/{{ item.country.id }}">{{ item.country.country_name }}</a>
										</td>
									</tr>
								</tr>
							{% endfor %}
					</tbody>
				</table>

				<div class="col-xs-12 col-md-12 text-center">
					<ul class="pager" id="myPager"></ul>
      				<!-- <ul class="pagination pagination-lg" id="myPager"></ul> -->
      			</div>

			</div>
			

		</div>

	</body>
</html>