<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>World Cup</title>
  <meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website">
  <meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu">
  <meta name="author" content="Codrops">
  <link rel="shortcut icon" href="http://tympanus.net/Tutorials/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/demo.css">
  <link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/component.css">
  <script type="text/javascript" async="" src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/ga.js"></script>
  <script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/modernizr.custom.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- calender stuff -->
  <link rel="stylesheet" href="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/calender.css">
  <!-- // <script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/pagination/pagination.js"></script> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
  <style type="text/css"></style>
  <style type="text/css"></style>
  
</head>
<body>
    <div class="container">
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <li class="gn-search-item">
                  <input placeholder="Search" type="search" class="gn-search">
                  <a class="gn-icon gn-icon-search"><span>Search</span></a>
                </li>
                <li>
                  <a class="gn-icon gn-icon-globe" href="/countries">Countries</a>
                  <!-- <ul class="gn-submenu"> -->
                    <li><a class="gn-icon gn-icon-players" href="/players">Players</a></li>
                    <li><a class="gn-icon gn-icon-matches" href="/matches">Matches</a></li>
                  <!-- </ul> -->
                </li>
                <li><a class="gn-icon gn-icon-aboutus">About us</a></li>
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><a href="/"><span>Home</span></a></li>

        <!-- To put the world cup on the left side -->
        <li> </li>

      </ul>
      <!-- <header> -->
    
      <!-- </header>  -->
    </div><!-- /container -->

    
    <script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/classie.js"></script>
    <script src="https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/StyleNavBar/gnmenu.js"></script>
    <script>
      new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>
  
</body>
